h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0e1b4d;
}
/* titre
--------------------------------*/

.section-MyHeader {
  margin-top: 120px;
  position: relative;
  padding-bottom: 20px;
}

.section-MyHeader::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-MyHeader h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-MyHeader p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}
video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.VideoAuto {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}
.videoAutoIframe {
  height: 450px;
  width: 1000px;
}

/* .IframeVideo Iframe {
  width: 470px;
  height: 315px;
} */
#video .text {
  margin-top: 20px;
}

#video .video-gallery {
  overflow: hidden;
  border-right: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
  background-color: rgba(230, 230, 230, 0.503);
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 30px;
}
